:root {
    --type-base: calc(1.6em + 0.5vw);
    --type-x-small: 70%;
    --type-small: 85%;
    --type-medium: 100%;
    --type-large: 120%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--type-base);
}

h1 {
    margin: 40px 0 30px 0;
    font-size: var(--type-large);
    text-align: center;
}

p {
    margin: 10px 0 5px 0;
    font-size: var(--type-small);
}

section{ 
    margin: auto;
    width: 95%;
    max-width: 1200px;
}

.specimen {
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    align-items: center;
}

.specimen:first-child {
    border-top: 1px solid black;
}

#data {
    padding: 50px 0;
}

#data p {
    font-size: var(--type-x-small);
}